<html>
	<head>
		<meta charset="utf-8" />
		<title>App test</title>

		<!-- scripts -->
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


		<!-- style -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
	</head>
	<body>
		<div id="app" class="container">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add new</button>
			<!-- pour listes -->
			<div class="row">
				<div class="card col-lg-3 col-md-6 col-xs-12 d-flex" v-for="(item,key) in items" @click="onEdit(key)">
					<img :src="item.img" :alt="item.title">
					<div class="card-body">
						<h3 class="card-title">{{ item.title }} {{ key }}</h3>
						<p class="card-text">{{ item.description }}</p>
						<p class="card-text"><b>{{ item.price }}&euro;</b></p>
					</div>
				</div>
			</div>
			<!-- form -->
			<Editor :value="value" :items="items" />
		</div>
		<script type="text/x-template" id="form-template">
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title">Form</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <form action="#" class="col-md-12">
			        	<div class="form-group">
							<label for="" class="label-control col-md-3">Price</label>
							<span class="col-md-9">
								<input type="file" @onChange="onChangeFile" class="form-control" />
							</span>
						</div>
						<div class="form-group">
							<label for="" class="label-control col-md-3">Price</label>
							<span class="col-md-9">
								<input type="text" v-model="value.price" class="form-control" />
							</span>
						</div>
						<div class="form-group">
							<label for="" class="label-control col-md-3">Title</label>
							<span class="col-md-9">
								<input type="text" v-model="value.title" class="form-control"/>
							</span>
						</div>
						<div class="form-group">
							<label for="" class="label-control col-md-3">Content</label>
							<span class="col-md-9">
								<textarea v-model="value.description" class="form-control"></textarea>
							</span>
						</div>
					</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" @click="onSubmit">Add new</button>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
		</script>
		<script src="/js/main.js"></script>
	</body>
</html>
